.padre{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.head{
    align-self: center;
    justify-self: center;
    display: flex;
    max-width:100%;
}

.imagen{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    justify-items: center;
    max-width:90%;
}

.head, .articulo, .foot, .imagen{
    flex-grow: 1;
    flex-basis: 100%; 
    padding: 10px;
}

.link{
    display: flex;
    align-items: center;
}